*{
	background-color: black;
	color:rgb(0, 255, 0);
	font-size: large;
	font-family: 'Courier New', Courier, monospace;
}

.center{
	display:flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
	margin-top: 15%;
}
p {
	padding: 20px;
}

form {
	display: flex;
	justify-content: center;
  }
  input {
	margin: 0 10px;
	padding: 10px;
	border:none;
	border-bottom: 1px solid #2bff00;
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 28px;
  }
  .special {
	margin-top: 2rem;
	font-size: 2rem;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease;
	i {
	  font-size: 1rem;
	  cursor: pointer;
	}
	&.hidden {
	  opacity: 0;
	  visibility: hidden;
	}
}

input:focus{
	outline:none;
}
  